<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-localization-strings" version="1.0.1">
  <name>Localization</name>
  <description>Cordova Plugin for localizing local strings</description>
  <license>MIT License</license>
  <keywords>cordova,internationalization,localization,i18n,l10n</keywords>

  <engines>
    <engine name="cordova" version=">=6.0.0"/>
  </engines>

  <platform name="ios">
    <hook src="scripts/create_ios_strings.js" type="after_prepare" />
  </platform>

  <platform name="android">
    <hook src="scripts/create_android_strings.js" type="after_prepare" />
  </platform>


</plugin>